{% load studio_extras %}
{% load i18n %}
<ul class="vertical menu mobile-menu">
    <li class="menu-text a-title">Alumnica CCS</li>
    <li>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    <li>
        <a href="{% url 'dashboard_view' %}">
            <div class="menu-image fas fa-home"></div>
            <div class="m-text">Dashboard</div>
        </a>
    </li>
    <li>
        <a href="{% url 'approve_dashboard_view' %}">
            <div class="menu-image fas fa-share-square"></div>
            {% trans "Ámbitos to publish" %}
            <div class="pub-counter">2</div></a>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <a href="{% url 'ambits_view' %}">
            <div class="menu-image fas fa-map"></div>
            <div>{% trans "Ámbitos" %}</div>
        </a>
    </li>
    <li>
        <a href="{% url 'materias_view' %}">
            <div class="menu-image fas fa-clone"></div>
            <div>{% trans "Subjects" %}</div>
        </a>
    </li>
    <li>
        <a href="{% url 'oda_dashboard_view' %}">
            <div class="menu-image fas fa-list-alt"></div>
            <div>ODAs</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <a href="{% url 'momentos_view' %}">
            <div class="menu-image fas fa-play-circle"></div>
            <div>{% trans "Momentos" %}</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <a href="{% url 'library_view' %}">
            <div class="menu-image fas fa-images"></div>
            <div>{% trans "Image library" %}</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <a href="{% url 'users_view' %}">
            <div class="menu-image fas fa-users"></div>
            <div>{% trans "Users" %}</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li>
        <a href="#">
            <div class="menu-image fas fa-times-circle"></div>
            <div>{% trans "Logout" %}</div>
        </a>
    </li>
    <li>
        {% version_number %}
    </li>
</ul>