{% load studio_extras %}

<ul class="vertical menu sidebar-menu__ul">
    <li id="dash-nav">
        <a href="{% url 'dashboard_view' %}">
            <div class="menu-image fas fa-home"></div>
            <div class="m-text">Dashboard</div>
        </a>
    </li>
    {% ifequal request.user.user_type 'supervisor'%}
        <li id="supervisor-nav">
            <a href="{% url 'approve_dashboard_view' %}">
                <div class="menu-image fas fa-share-square"></div>
                Ámbitos para publicar

            </a>
        </li>
    {% endifequal %}
    <li>
        &nbsp;
    </li>
    <li id="ambito-nav">
        <a href="{% url 'ambits_view' %}">
            <div class="menu-image fas fa-map"></div>
            <div>Ámbitos</div>
        </a>
    </li>
    <li id="materia-nav">
        <a href="{% url 'materias_view' %}">
            <div class="menu-image fas fa-clone"></div>
            <div>Materias</div>
        </a>
    </li>
    <li id="oda-nav">
        <a href="{% url 'oda_dashboard_view' %}">
            <div class="menu-image fas fa-list-alt"></div>
            <div>ODAs</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="momento-nav">
        <a href="{% url 'momentos_view' %}">
            <div class="menu-image fas fa-play-circle"></div>
            <div>Momentos</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="bib-nav">
        <a href="{% url 'library_view' %}">
            <div class="menu-image fas fa-images"></div>
            <div>Biblioteca de imágenes</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    {% ifequal request.user.user_type 'supervisor'%}
        <li id="users-nav">
            <a href="{% url 'users_view' %}">
                <div class="menu-image fas fa-users"></div>
                <div>Usuarios</div>
            </a>
        </li>
    {% endifequal %}
</ul>


<ul class="vertical menu logout">

    <li class="version">
        {% version_number %}
    </li>
</ul>