{% load studio_extras %}
{% load i18n %}

<ul class="vertical menu sidebar-menu__ul">
    <li id="dash-nav">
        <a href="{% url 'dashboard_view' %}">
            <div class="menu-image fas fa-home"></div>
            <div class="m-text">Dashboard</div>
        </a>
    </li>
    <li id="publicar-nav">
        <a href="#">
            <div class="menu-image fas fa-share-square"></div>
            {% trans "Ambits to publish" %}
            <div class="pub-counter">2</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="ambito-nav">
        <a href="{% url 'ambits_view' %}">
            <div class="menu-image fas fa-map"></div>
            <div>{% trans "Ambits" %}</div>
        </a>
    </li>
    <li id="materia-nav">
        <a href="{% url 'materias_view' %}">
            <div class="menu-image fas fa-clone"></div>
            <div>{% trans "Subjects" %}</div>
        </a>
    </li>
    <li id="oda-nav">
        <a href="{% url 'oda_dashboard_view' %}">
            <div class="menu-image fas fa-list-alt"></div>
            <div>ODAs</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="momento-nav">
        <a href="{% url 'momentos_view' %}">
            <div class="menu-image fas fa-play-circle"></div>
            <div>{% trans "Moments" %}</div>
        </a>
    </li>
    <li>
        &nbsp;
    </li>
    <li id="bib-nav">
        <a href="{% url 'library_view' %}">
            <div class="menu-image fas fa-images"></div>
            <div>{% trans "Image library" %}</div>
        </a>
    </li>
</ul>


<ul class="vertical menu logout">
    <li>
        <a href="{% url 'logout_view' %}">
            <div class="menu-image fas fa-times-circle"></div>
            <div>{% trans "Logout" %}</div>
        </a>
    </li>
    <li class="version">
        {% version_number %}
    </li>
</ul>