{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <section class="login-bg">
        <div class="grid-container">
            <div class="grid-y window-height">
                <div class="cell medium-4 hide-for-small">
                </div>
                <div class="cell medium-7 small-11">
                    <div class="grid-x">
                        <div class="cell medium-4">
                            <h3>{% trans "My account" %}</h3>
                            <form class="u-margin-bottom-small" method="POST" role="form">{% csrf_token %}
                                <label>{% trans "EMAIL" %}
                                    {{ form.email }}
                                </label>
                                <label>{% trans "PASSWORD" %}
                                    {{ form.password }}
                                </label>
                                <input type="submit" class="button login-btn expanded" value="{% trans "Entrar" %}">
                            </form>
                            <a href="{% url 'password_reset' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
