{% extends "studio/empty.html" %}
{% load static%}
{% block content %}
    <div class="login-container">
    <div class="grid-x align-center-middle">
        <div class="cell medium-3 small-10">
            <div class="login-logo">
                <img src="{% static "/studio/img/alumnica-logo-138.png" %}" alt="">
                <p>studio</p>
            </div>
            <div class="login-box">
                <form class="u-margin-bottom-small" method="POST" role="form">{% csrf_token %}
                    <label>Correo electrónico
                        {{ form.email }}
                    </label>
                    <label>Contraseña
                        {{ form.password }}
                    </label>
                    <input type="submit" class="button small expanded" value="Entrar">
                </form>
            </div>
            <div class="forgot-password">
                 <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
