{% extends "studio/base-main.html" %}
{% load i18n %}
{% block content %}

<div class="container dashboard">

    <h1 class="title">
        <i class="fas fa-map"></i> {% trans "Ámbitos" %}
    </h1>
    <hr>

    <div class="grid-x">
        <div class="cell medium-6">
            {# Crear nuevo ambito #}
            <a href="{% url 'create_ambit_view' %}" class="button">{% trans "Create new Ámbito" %}</a>
        </div>
        
        <div class="cell medium-12">
            <div class="panel">
                <table id="tabla-ambitos" class=" no-wrap">
                    <thead>
                        <tr>
                            <th id="titulo-ambito" class="all">{% trans "Title" %}</th>
                            <th id="numero-ambito" class="not-mobile">#</th>
                            
                            <th id="materias-ambito" class="not-mobile">{% trans "Subjects" %}</th>
                            <th id="tags-ambito" class="not-mobile tag-length">{% trans "Tags" %}</th>
                            <th id="fecha-ambito" class="not-mobile">{% trans "Date" %}</th>
                            <th id="autor-ambito" class="not-mobile">{% trans "Autor" %}</th>
                            <th id="estado-ambito" class="not-mobile">{% trans "State" %}</th>
                            {% ifequal request.user.user_type 'SUPERVISOR'%}
                                <th id="eva-ambito" class="not-mobile"><i class="fas fa-calendar-times"></i> EVA</th>
                            {% endifequal %}

                        </tr>
                    </thead>
                    <tbody>
                    {% for ambit in ambit_list %}
                        <tr>
                            <td>
                                {# Titulo de Ambito #}
                                <div class="titulo_lista">
                                    {{ ambit.name }}
                                </div>
                                {% if not ambit.is_draft %}
                                    {% ifequal request.user.user_type 'SUPERVISOR'%}
                                        <div class="title-edit-menu">
                                        <span class="editar">
                                            {# Link a editar este ambito en especifico #}
                                            <a href="{% url 'update_ambit_view' ambit.pk %}">{% trans "Edit" %}</a>
                                        </span> |
                                        <span class="borrar">
                                            {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                            <a href="{% url 'delete_ambit_view' ambit.pk %}">{% trans "Delete" %}</a>
                                        </span>
                                        
                                    </div>
                                    {% endifequal %}
                                    {% else %}
                                    <div class="title-edit-menu">
                                        <span class="editar">
                                            {# Link a editar este ambito en especifico #}
                                            <a href="{% url 'update_ambit_view' ambit.pk %}">{% trans "Edit" %}</a>
                                        </span> |
                                        <span class="borrar">
                                            {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                            <a href="{% url 'delete_ambit_view' ambit.pk %}">{% trans "Delete" %}</a>
                                        </span>
                                        
                                    </div>
                                {% endif %}
                            </td>

                            {# Posicion en el tablero de el estudiante #}
                            <td>
                                {{ ambit.position }}
                            </td>
                            
                            {# Materias asignadas a este Ambito #}
                            <td>
                                {% for subject in ambit.subjects.all %}
                                    {{ subject.name }}
                                {% endfor %}

                            </td>
                            {# Lista de Tags#}
                            <td>
                                <div class="tag-list">
                                    {% for tag in ambit.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}

                                </div>
                            </td>
                            <td>
                                <div id="edit-date">
                                    {{ ambit.created_at }}
                                </div>
                            </td>
                            <td>
                                <div class="autor">
                                    {{ ambit.created_by.profile.name }} {{ ambit.created_by.profile.last_name }}
                                </div>
                            </td>
                            <td>
                                <div class="estado">
                                    {% if ambit.is_published %}
                                        {% trans "Published" %}
                                    {% else %}
                                        {% if ambit.is_draft %}
                                            {% trans "Draft" %}
                                        {% else %}
                                            {% trans "Waiting for approval" %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                         {% ifequal request.user.user_type 'SUPERVISOR'%}
                             <td class="text-center">
                             {% if ambit.is_published %}
                                 <div class="button small alert remover">
                                    <a href="{% url 'unpublish_ambit_view' ambit.pk %}" title="{% trans "Unpublish from EVA" %}">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </div>
                             {% endif %}

                            </td>
                        {% endifequal %}

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<!-- makes sidebar menu active -->
<script>
    document.querySelector('#ambito-nav').classList.add("is-active");
</script>

{% endblock content %}
