{% extends "studio/base-main.html" %}
{% load static %}
{% block content %}



<div class="container dashboard">


    <h1 class="title">
        Crear nuevo ámbito
    </h1>
    <hr>

    <div class="grid-x">
        <div class="cell medium-12">
            <p class="h5">Instrucciones:</p>
            <p>Lorem ipsum dolor sit amet</p>
            <hr>
        </div>
        <div class="cell medium-12">
            <form method="POST" id="ambito-creation" enctype="multipart/form-data" onsubmit="return is_valid_form()">
                {% csrf_token %}
                <div class="grid-x grid-margin-x">
                    <div class="cell medium-5">
                        <label for="titulo-ambito-nuevo">Titulo</label>
                            {{ form.name_field }}
                        <!--input type="text" placeholder="titulo" id="changedtext"-->

                        <!-- tags -->

                        <label for="ambito-tags">Tags</label>
                        <input required name="tags-ambito" type="text" id="ambito-tags">
                        <script type="text/javascript">
                        let materiasTags = [];
                        let ambitoTags = [];
                            {% for tag in tags %}
                                ambitoTags.push({name:"{{ tag.name_field|safe }}", value:"{{ tag.id|safe }}"});
                            {% endfor %}

                        </script>
                        <!-- end tags -->

                        <label>Posición
                            {{ form.position_field }}
                            <!--select class="position-ambito-size">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select-->
                        </label>
                        
                        <fieldset id="color-button" class="fieldset color-radio">
                            <legend>Color de Fondo</legend>
                            <label class="amarillo">
                                <input  type="radio" name="color" value="#fae96a" class="radio-input" data-a="amarillo_bg" data-b="amarillo_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="rojiso">
                                <input  type="radio" name="color" value="#d25b5c" class="radio-input" data-a="rojiso_bg" data-b="rojiso_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="azul">
                                <input  type="radio" name="color" value="#6a83c0" class="radio-input" data-a="azul_bg" data-b="azul_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="naranja">
                                <input  type="radio" name="color" value="#ebb533" class="radio-input" data-a="naranja_bg" data-b="naranja_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="morado">
                                <input  type="radio" name="color" value="#663288" class="radio-input" data-a="morado_bg" data-b="morado_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="bluegreen">
                                <input  type="radio" name="color" value="#7ab4b0" class="radio-input" data-a="bluegreen_bg" data-b="bluegreen_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="amarillo-sol">
                                <input  type="radio" name="color" value="#f0c43f" class="radio-input" data-a="amarillo-sol_bg" data-b="amarillo-sol_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="naranja-obscuro">
                                <input  type="radio" name="color" value="#d2752f" class="radio-input" data-a="naranja-obscuro_bg" data-b="naranja-obscuro_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="violeta">
                                <input  type="radio" name="color" value="#b52067" class="radio-input" data-a="violeta_bg" data-b="violeta_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="azul-obscuro">
                                <input  type="radio" name="color" value="#625fa6" class="radio-input" data-a="azul-obscuro_bg" data-b="azul-obscuro_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="verde">
                                <input  type="radio" name="color" value="#58968a" class="radio-input" data-a="verde_bg" data-b="verde_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>

                            <label class="verde-limon">
                                <input  type="radio" name="color" value="#adcd65" class="radio-input" data-a="verde-limon_bg" data-b="verde-limon_text">
                                <div class="color-circle">
                                    <span></span>
                                </div>
                            </label>
                        </fieldset>
                        {# image preview #}
                        <div class="panel">
                            <div class="panel__title">
                                Imagen de Ambito
                            </div>
                            <!-- botones -->
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-6">
                                    <label for="ambito-u" class="button expanded">Subir Imagen</label>
                                    {{ form.ap }}
                                </div>
                                <div class="cell small-6">
                                    <a href="#" class="button expanded">Biblioteca de Imagenes</a>
                                </div>
                            </div>
                            <!-- end botones -->

                            <!-- start image preview -->
                            <div class="image-wrapper">
                                <div id="image-holder">
                                    <img src="#" alt="">
                                </div>
                                <div id="ttc">
                                    <span class="ttc2">Tituo de Ambito</span>
                                </div>
                            </div>
                                <!-- end image preview -->
                        </div>                        
                    </div>
                    <div class="cell medium-5 medium-offset-1">
                        <div class="panel" id="materias_panel">
                            <div class="panel__title">
                                <i class="fas fa-clone"></i> Materias Asignadas
                                <span id="add-materia-button" class="add-materia" data-open="materiasModal">
                                    <i class="fas fa-plus-square"></i>
                                </span>
                            </div>
                            <ul id="sortable">
                                <!-- <li id="mat_1" class="ui-state-default">
                                    <span class="ui-icon ui-icon-arrowthick-2-n-s sorter"></span>Item 1
                                    <span class="remove_materia">
                                        <a href="#">
                                            <i class="fas fa-minus-square"></i>
                                        </a>
                                    </span>
                                </li> -->
                                
                               
                            </ul>
                        </div>

                        {# this sends the Materias in the correct order in the POST#}
                        <input type="hidden" name="class_name" id="class_name">

                        <br>
                        <div class="panel" id="last_panel">
                            <div class="panel__title">Detalles de publicación</div>
                            <p>
                                <strong>Estado:</strong>
                                {# Cambia dependiendo si estas editando o creando una nueva#}
                                <span id="estado">Sin Publicar</span>
                            </p>
                            <p>
                                <strong>Publicado:</strong>
                                {# Fecha #}
                                <span id="fecha-pub">N/A</span>
                            </p>

                            {#Este POST debe guardar como borrador #}
                            <button type="submit" class="button secondary">Salvar como borrador</button>

                            {#Este POST debe publicar el Ambito #}    
                            <button type="submit" class="button primary publicar">Publicar</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>


        <!-- modal -->

        <div class=" reveal" id="materiasModal" data-reveal>
            <h4>Selección de Materias</h4>
            <br>

            {# Cargar lista de Materias #}
            <label for="select-materias">Busca en la Biblioteca de Materias</label>
            <select name="materias-select" id="select-materias"></select>
            <script type="text/javascript">
                        let materiasList = [];
                            {% for subject in subjects %}
                                materiasList.push({name:"{{ subject.name_field|safe }}", value:"{{ subject.id|safe }}"});
                            {% endfor %}
            </script>
            
            <br />
            <br>
            <br>
            <input id="class-adder" class='button expanded' disabled type='submit' value='Añadir' data-close/>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
</div>
{% endblock content %}

{% block scripts %}
    <script  type="text/javascript"  src="{% static "studio/js/materias.js" %}"></script>
    <script  type="text/javascript"  src="{% static "studio/js/tags.js" %}"></script>
    <script  type="text/javascript"  src="{% static "studio/js/ambit.js" %}"></script>
{% endblock %}