{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>

<div class="dashboard container">
    <h1 class="title">
        <i class="menu-image fas fa-images"></i> {% trans "Image library" %} </h1>
    <form method="POST" id="deletions">

        <input type="hidden" id="toBeDeleted">
         <input type="button" id="submit-form" class="is-hidden" />
    </form>
    <input type="hidden" id="theNames">
    <hr>
    <div id="img-jplist">
       <div class="grid-x grid-margin-x jplist-panel">
           <div class="cell medium-2">

                  <select
                     class=""
                     data-control-type="items-per-page-select"
                     data-control-name="paging"
                     data-control-action="paging"
                  >

                     <option data-number="3"> 3 per page </option>
                     <option data-number="5"> 5 per page </option>
                     <option data-number="10" data-default="true"> 10 per page </option>
                     <option data-number="all"> view all </option>
                  </select>

           </div>
           <div class="cell medium-2">
                 <!--<select-->
                 <!--class=""-->
                 <!--data-control-type="sort-select"-->
                 <!--data-control-name="sort"-->
                 <!--data-control-action="sort">-->
                   <!--<option data-path="default">Sort by</option>-->
                   <!--<option data-path=".date data-order="asc" data-type="datetime">Date asc</option>-->
                   <!--<option data-path=".date data-order="desc" data-type="datetime">Date desc</option>-->
              <!--</select>-->
           </div>
           <div class="cell medium-4">
               {% comment %}<button id="deleterBtn" disabled type="button" class="button" data-open="deleteModal"><i class="fa fa-trash"></i> Borrar</button>{% endcomment %}
           </div>
           <div class="cell medium-4">
               <div class="input-group">
                   <span class="input-group-label"><i class="fa fa-search"></i></span>
                   <input class="input-group-field"
                          type="text"
                          data-path=".folder .file_name"

                          value=""
                          placeholder="Busqueda"
                          data-control-type="textbox"
                          data-control-name="title-filter"
                          data-control-action="filter"
                   />

               </div>

           </div>
       </div>

        <div class="grid-x grid-padding-x grid-margin-y small-up-3 medium-up-6 list u-margin-bottom-small">
            <!--<div class="cell img-box">-->
                <!--<div class="checkbox">-->
                    <!--<input type="checkbox">-->
                <!--</div>-->
                <!--<div class="image" data-open="imgModal">-->



                    <!--&lt;!&ndash; <label for="image-01" class="check"></label>-->
                    <!--<input type="checkbox" id="image-01"> &ndash;&gt;-->
                    <!--<div class="image__thumbnail">-->
                        <!--<img class="img_contain" src="../assets/img/ph/bloque-01.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="text-center">-->
                        <!--<div class="image__name">-->
                            <!--seccion1.png-->
                        <!--</div>-->
                        <!--<div class="image__category">-->
                            <!--Materia-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


        <!-- no results found -->
                <div class="jplist-no-results">
                    <p>{% trans "No results found" %}</p>
                </div>

        </div>
       <div class="grid-x">
            <div class="cell medium-6">
                <div class="jplist-panel">
                <div
                        class="jplist-pagination float-right"
                        data-control-type="pagination"
                        data-control-name="paging"
                        data-control-action="paging">
                        </div>

                </div>
            </div>
        </div>



    </div>

</div>



{% verbatim %}
<script id="jplist-template" type="text/x-handlebars-template">
       {{#each this}}

<div class="cell img-box">


    <div class="image" data-open="imgModal">
        <div class="is-hidden">
            <div class="date">{{created_at}}</div>
            <div class="complete_file">{{url}}</div>
            <div class="file">{{file}}</div>
            <div class="name">{{name}}</div>
        </div>


        <!-- <label for="image-01" class="check"></label>
            <input type="checkbox" id="image-01"> -->
        <div class="image__thumbnail">
            <img class="img_contain" src="{{file}}" alt="">
        </div>
        <div class="text-center">
            <div class="file_name">{{file_name}}</div>
            <div class="folder">{{folder}}</div>
        </div>
    </div>
</div>

{{/each}}
</script>
{% endverbatim %}

<div class="reveal large imageModal" id="imgModal" data-reveal>
    <div class="title">
        Detalles
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="grid-x">
        <div class="medium-9 cell text-center">
            <div class="image-selected">
                <img src="" alt="bloque 1">
            </div>
        </div>
        <div class="medium-3 cell">
            <div class="image-detail">
                <ul>
                    <li id="nombre">{% trans "Name" %}:</li>
                    <li id="fecha">{% trans "Date" %}:</li>
                </ul>
            </div>
            <div class="image-attached">
                <ul>
                    <li id="adjuntoa"></li>
                </ul>

                <div class="bottom-buttons">
                    <a id="dloadBtn" download="" href="" class="button secondary">
                        <i class="fa fa-download"></i> {% trans "Download" %}</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="reveal" id="deleteModal" data-reveal>
    <p class="h5 text-center u-margin-bottom-small">{% trans "Do you want to delete these images?" %}</p>
    <div id="deleteList">

    </div>
    <div class="u-margin-top-medium">
        <button class="button secondary" data-close aria-label="Close modal" type="button"><i class="fa fa-times"></i> {% trans "Cancel" %}</button>
        <button  id="delete_images" class="button float-right"><i class="fa fa-check"></i> {% trans "Accept" %}</button>
    </div>
</div>

<script>
    document.querySelector('#bib-nav').classList.add("is-active");
</script>
{% endblock content %}

{% block scripts %}

    <script  type="text/javascript"  src="{% static "studio/js/bib.js" %}"></script>

{% endblock %}
