{% extends "studio/base-main.html" %}
{% load static %}

{% block content %}



<div class="container dashboard">


    <h1 class="title">
        <i class="fas fa-home"></i> Dashboard</h1>
    <hr>
    <div class="grid-x grid-margin-x">
        <div class="cell medium-6">
            <div class="grid-x grid-margin-x">
                <div class="cell medium-12">
                    <div class="panel">
                        <div class="panel__title">
                            <i class="fas fa-user"></i> {{ request.user.first_name }} </div>
                        <div class="panel__content">
                            <div class="last-login">
                                <strong>Última sesión</strong> {{ request.user.last_login }} </div>
                        </div>
                    </div>
                </div>
                <div class="cell medium-12">
                    <div class="panel">
                        <div class="panel__title">

                            Temario de secundaria
                        </div>
                        <div class="panel__content">
                            <div class="grid-x grid-margin-x grid-margin-y">

                                {# Numero total de Ambitos#}
                                
                                <a href="{% url 'ambits_view' %}" class="cell medium-3 small-6 d-box text-center">
                                    <div class="d-box__number">
                                        {{ ambits }}
                                    </div>
                                    <div class="d-box__title">
                                        Ámbitos
                                    </div>
                                </a>

                                {# Numero total de Materias#}

                                <a href="{% url 'materias_view' %}" class="cell medium-3 small-6 d-box text-center">
                                    <div class="d-box__number">
                                        {{ subjects }}
                                    </div>
                                    <div class="d-box__title">
                                        Materias
                                    </div>
                                </a>

                                {#Numero total de ODAs#}

                                <a href="{% url 'oda_dashboard_view' %}" class="cell medium-3 small-6 d-box text-center">
                                    <div class="d-box__number">
                                        {{odas}}
                                    </div>
                                    <div class="d-box__title">
                                        ODAs
                                    </div>
                                </a>

                                {# Numero total de Momentos#}

                                <a href="{% url 'momentos_view' %}" class="cell medium-3 small-6 d-box text-center">
                                    <div class="d-box__number">
                                        {{moments}}
                                    </div>
                                    <div class="d-box__title">
                                        Momentos
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--solo vista por el Supervisor-->
    {% ifequal request.user.user_type 'supervisor'%}
         <div class="cell medium-6">
                <div class="cell medium-6">
                    <div class="panel">
                        <div class="panel__title">
                            Ámbitos a publicar
                        </div>
                        <div class="panel__content">
                            <table class="table-striped">
                                {% for ambit in ambitsToPublish %}
                                <tr class="dash-superv">
                                    <th>{{ ambit.name }}</th>
                                    <th><a href="{% url 'ambit_preview_view' ambit.pk %}" class="button secondary small"><i class="fas fa-eye"></i></a></th>
                                    <th><a href="{% url 'ambits_position_view'  ambit.pk %}" class="button small">Publicar</a></th>
                                </tr>
                                 {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    {% endifequal %}
        <!--end solo vista por supervisor -->

    </div>


</div>

<script>
    document.querySelector('#dash-nav').classList.add("is-active");
</script>

{% endblock content %}

{% block scripts %}

    <script  type="text/javascript"  src="{% static "studio/js/ambit.js" %}"></script>
{% endblock %}

