{% extends "studio/base-main.html" %}

{% block content %}



<div class="container dashboard">


        <h1 class="title">
            Crear nueva Materia
        </h1>
        <hr>
    
        <div class="grid-x">
            <div class="cell medium-12">
                <p class="h5">Instrucciones:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quas delectus obcaecati aspernatur? Quis mollitia
                    repellendus, iste obcaecati unde aliquid sunt quia, vero magnam error soluta perferendis laboriosam dolore
                    veritatis!
                </p>
                <hr>
            </div>
            <div class="cell medium-12">

                <form method="POST" id="materia-init" enctype="multipart/form-data">
                    {% csrf_token %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-5">
                            <label for="titulo-materia">Titulo</label>
                            {{ form.name_field }}
                            <!--input name="titulo-materia" type="text" placeholder="titulo"-->
                            <label for="seleccion-ambito">Selecciona Ámbito al que pertenece esta Materia</label>
                            {{ form.ambit_field }}
                                                        
                            <!-- tags -->

                            <label for="tags-materias">Tags</label>
                            {{ form.tags_field }}

                            <script type="text/javascript">
                                let materiasList=[];
                                let ambitoTags=[];
                                let materiasTags = [];
                                let self_tags_selectize = [];
                                    {% for tag in tags %}
                                        materiasTags.push({name:"{{ tag.name_field|safe }}", value:"{{ tag.id|safe }}"});
                                    {% endfor %}
                                    {% for self_tag in self_tags %}
                                        self_tags_selectize.push("{{ self_tag.name_field|safe }}");
                                    {% endfor %}
                            </script>
                            <!-- end tags -->

                            <label>Número de secciones dentro de la materia
                                {{ form.number_of_sections_field }}
                            </label>


    
                        </div>
                        <div class="cell medium-5 medium-offset-1">
                            
                            <div class="panel">
                                <div class="panel__title">Imagend e Portada</div>
                                <div class="panel__content">
                                    <div class="grid-x grid-margin-x">
                                        <div class="small-6 cell">
                                            <label for="materia-u" class="button expanded">Subir Imagen</label>
                                            {{ form.mp }}
                                        </div>
                                        <div class="small-6 text-right">
                                            <a href="#" class="button expanded">Biblioteca de Imagenes</a>
                                        </div>
                                    </div>
                                    <div class="section-preview">
                                            <img src="{{ MEDIA_URL }} {{ background_img.file_field.url }}" alt="your image" />
                                    </div> 
                                </div>
                            </div>
                             <button class="button expanded" type="submit">Continuar <i class="fas fa-arrow-right"></i> </button>
                            <!--a href="materias-edit-seccion.html" class="button expanded" type="submit">Continuar-->

                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>

{% endblock content %}