{% extends "studio/base-main.html" %}
{% load static %}
{% block content %}


<div class="container dashboard">


        <h1 class="title">
            <i class="fas fa-clone"></i> | 2.1 | ODAs y respectivas imagenes
        </h1>
        <hr>
        <form method="POST" id="odas-seccion-1" enctype="multipart/form-data">
            {% csrf_token %}
        {{ form.errors }}
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell medium-12">
                        {{ form.name_field }}
                        <p class="h5">Seccion 1:</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A illo repudiandae, molestiae nostrum quam distinctio
                            aperiam tempore accusamus provident aut!
                        </p>
                        <hr>
                    </div>
                    <!-- first colum containing section image -->
                    <div class="cell large-3 medium-2">
                        <div class="panel">
                            <img src="{{ MEDIA_URL }} {{ background_image.file_field.url }}" alt="">
                        </div>
                    </div>


    
                <!-- begin second column containing all the upload buttons and imag epreviews -->
                <div class="cell large-9 medium-10">
                    <script type="text/javascript">
                        let self_oda_selectize=[];
                    </script>

                    <div class="form-set">
                         {{ formset.management_form }}
                    {% for form in formset.forms %}
                        <!-- .main div for 1 entire oda -->
                        <div class="my_item">
                        <div class="oda-img-upload">
                            <div class="grid-x grid-padding-x">
                                <div class="medium-4 cell">
                                    <label for="">ODA 1</label>

                                    {# Atencion a el ID  este input es SELECTIZE #}
                                    {{ form.oda_name }}
                                    <script type="text/javascript">
                                        self_oda_selectize.push("{{ form.initial.oda_field.name_field|safe }}");
                                    </script>
                                    <!--input id="section-1-oda-1" type="text"-->
                                </div>

                                <!-- first state of oda image upload and preview -->
                                <div class="medium-4 cell left-border">
                                    <div class="grid-x grid-margin-x">
                                        <div class="small-6 cell align-self-middle">
                                            <div class="img-preview-a">
                                                <img src="{{ MEDIA_URL }} {{ form.initial.active_icon_field.file_field.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="small-6 cell align-self-middle">


                                            {# Atencion a el ID #}
                                                <label for="id_{{ form.active_icon_field.html_name }}" class="button secondary small expanded">Subir Imagen</label>
                                                {{ form.active_icon_field }}
                                                <!--input id="section-1-oda-a1" name="oda-a1" type="file" class="show-for-sr"-->

                                            <button class="button secondary expanded small">
                                                <i class="fas fa-th"></i> Imagenes</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- 2nd state of oda image uplaod and preview -->

                                <div class="medium-4 cell">
                                    <div class="grid-x grid-margin-x">
                                        <div class="small-6 cell align-self-middle">
                                            <div class="img-preview-b">
                                                <img src="{{ MEDIA_URL }} {{ form.initial.completed_icon_field.file_field.url }}" alt="">
                                            </div>
                                        </div>
                                        <div class="small-6 cell align-self-middle">

                                            {# Atencion a el ID #}
                                            <label for="id_{{ form.completed_icon_field.html_name }}" class="button secondary small expanded">Subir Imagen</label>
                                            {{ form.completed_icon_field }}
                                            <!--input id="section-1-oda-b1" name="oda-b1" type="file" class="show-for-sr"-->

                                            <button class="button secondary expanded small">
                                                <i class="fas fa-th"></i> Imagenes</button>
                                        </div>
                                    </div>
                                </div>
                                <p style=""><a class="delete" href="#">Delete</a></p>
                            </div>
                        </div>
                        <hr>
                        </div>
                    {% endfor %}
                    </div>


                    <p><a id="add" href="#">Add another item</a></p>




                    <a href="{% url 'go_back_view' 'odas_section_view' form.instance.pk  view.kwargs.section %}" class="button">
                        <i class="fas fa-arrow-left"></i> Anterior </i>
                    </a>
                    <button class="button" type="submit">Continuar <i class="fas fa-arrow-right"></i> </button>
                    </a>
                    <!-- <button class="button"> Siguiente <i class="fas fa-arrow-right"></i></button> -->
                </div>
                
            </div>
        </form>
    </div>

<script type="text/javascript">
    let odaList=[];
        {% for oda in odas_list %}
            odaList.push({name:"{{ oda.name_field|safe }}"});
        {% endfor %}
</script>

{% endblock content %}

{% block scripts %}
    <script src="{% static "studio/js/oda.js" %}"></script>
{% endblock %}