{% extends "studio/base-main.html" %}
{% load static %}
{% block content %}

<div class="dashboard container">
    <h1 class="title">
        <i class="fas fa-clone"></i>&nbsp; <span></span>
    </h1>
    <p class="h6">| 3.1 | Posicion de ODAs en seccion de materia:</p>
    <hr>
    <form method="POST" id="inputs-h" onsubmit="return is_valid_form_position()">
        {% csrf_token %}
        {{ form }}
    <script>
        let odaList=[];
    </script>
    <div class="grid-x">
        <div class="cell medium-4">
            <div class="canvas">
                <!-- imagen de la seccion actual -->
                <img src="{{ MEDIA_URL }} {{ section_img.file_field.url }}" alt="" class="drop-bg">
                <div class="frame">
                    <div id="a-1" class="dropzone"></div>
                    <div id="a-2" class="dropzone"></div>
                    <div id="a-3" class="dropzone"></div>
                    <div id="a-4" class="dropzone"></div>
                </div>
                <div class="frame">
                    <div id="a-5" class="dropzone"></div>
                    <div id="a-6" class="dropzone"></div>
                    <div id="a-7" class="dropzone"></div>
                    <div id="a-8" class="dropzone"></div>
                </div>
                <div class="frame">
                    <div id="a-9" class="dropzone"></div>
                    <div id="a-10" class="dropzone"></div>
                    <div id="a-11" class="dropzone"></div>
                    <div id="a-12" class="dropzone"></div>
                </div>
                <div class="frame">
                    <div id="a-13" class="dropzone"></div>
                    <div id="a-14" class="dropzone"></div>
                    <div id="a-15" class="dropzone"></div>
                    <div id="a-16" class="dropzone"></div>
                </div>
            </div>
        </div>

        <div class="cell medium-4">
            {% for oda in odas_list %}
            <!-- maximo 4 odas -->
                <div class="oda-block">
                    <div id="block-{{ forloop.counter }}" class="block">
                        <img src="{{ MEDIA_URL }} {{ oda.active_icon_field.file_field.url }}" alt="">
                    </div>
                    <div class="oda-desc">{{ oda.oda_field.name_field }}</div>
                </div>

            {% endfor %}
        </div>

        <!-- end oda postitionin -->
        <div class="cell medium-6">

        </div>
        <div class="cell medium-6 text-right">
            <!-- form que manda la info de posicion -->

                    <!-- aqui se crean inputs escondidos para mandarte la info -->
                <a href="{% url 'go_back_view' 'odas_position_view' view.kwargs.pk  view.kwargs.section %}" class="button">
                    <i class="fas fa-arrow-left"> </i> Anterior
                </a>
                <!--a href="materias-edit-preview.html" class="button"> Siguiente
                    <i class="fas fa-arrow-right"></i>
                </a-->
                <button type="submit" class="button"> Siguiente <i class="fas fa-arrow-right"></i></button>

        </div>
    </div>
    </form>
</div>

<!-- <div id="block-6" class="block can-drop" style="transform: translate(-18px, -441px);" data-x="-18" data-y="-441"></div> -->



{% endblock content %}

{% block scripts %}
    <script src="{% static "studio/js/odasPosition.js" %}"></script>
    <script src="{% static "studio/js/oda.js" %}"></script>
{% endblock %}