{% extends "studio/base-main.html" %} {% load static %} {% block content %}



<div class="container dashboard">

    <h1 class="title">
        Crear nueva Materia
    </h1>
    <hr>
    <form method="POST" id="materia-init" enctype="multipart/form-data" onsubmit="return is_valid_form_images()">
        {% csrf_token %}
    {{ form.errors }}
        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                <label for="titulo-materia">Titulo</label>
                {{ form.name_field }}
                <!--input name="titulo-materia" type="text" placeholder="titulo"-->

                <!-- tags -->

                <label for="tags-materias">Tags</label>
                {{ form.tags_field }}

                <script type="text/javascript">
                    let ambitoTags = [];
                    let materiasTags = [];
                    let self_tags_selectize = [];
                    {% for tag in tags %}
                    materiasTags.push({ name: "{{ tag.name_field|safe }}", value: "{{ tag.id|safe }}" });
                    {% endfor %}
                    {% for self_tag in self_tags %}
                    self_tags_selectize.push("{{ self_tag.name_field|safe }}");
                    {% endfor %}
                </script>
                <!-- end tags -->
                <br>
                <label for="seleccion-ambito">Selecciona Ámbito al que pertenece esta Materia</label>
                {{ form.ambit_field }}
            </div>
            <!-- end first column -->

            <div class="cell medium-6 ">
                <!-- panel de imagen -->
                <div class="panel">
                    <div class="panel__title ">Imagend de Portada |
                        <small>Solo archivos PNG. Tamaño maximo 150x300px</small>
                    </div>
                    <div class="panel__content">
                        <div class="grid-x grid-margin-x  u-margin-bottom-small">
                            <div class="small-6 cell">
                                <label for="materia-u" class="button expanded">Subir Imagen</label>
                                {{ form.mp }}
                            </div>
                            <div class="small-6 cell">
                                <a href="#" class="button expanded">Biblioteca de Imagenes</a>
                            </div>
                        </div>
                        <div class="materia-preview">
                            <img src="{{ MEDIA_URL }} {{ background_img.file_field.url }}" alt="Portada de Materia" />
                        </div>
                    </div>
                </div>
                <!-- end panel de imagen -->
            </div>
            <!-- end second column -->
            <div class="cell small-12">
                <hr>
            </div>
            <!-- start bloques -->

            {% for form in formset.forms %}

                    <div class="cell medium-3 my_item" id="seccion-img">
                        <div class="panel">
                            <div class="panel__title">
                                Bloque #{{ forloop.counter }}
                                 <button class="delete-bloque"><i class="fa fa-times"></i></button>

                            </div>
                            <div class="panel__content">
                                <div class="grid-x grid-margin-x">
                                    <div class="small-6 cell">
                                        <label for="id_{{ form.file_field.html_name }}" class="button small expanded">Subir Imagen</label>
                                        {{ form.file_field }}
                                    </div>
                                    <div class="small-6 cell">
                                        <a href="#" class="button expanded small">
                                            <i class="fas fa-th"></i> Imagenes</a>
                                    </div>
                                </div>
                                <div class="section-preview">
                                    <img src="{{ form.initial.file_field.url }}" alt="Imagen Bloque 1" />
                                </div>
                                <button class="button u-margin-top-small small expanded"><i class="fa fa-pencil-alt"></i> Editar Posición de ODAs</button>
                            </div>
                        </div>
                    </div>

            {% endfor %}
            <!-- end bloque -->

            <!-- add bloque button -->

            <div class="cell medium-3 align-self-middle text-center">
                <button class="bloque-add-button">
                    <i class="fa fa-plus"></i>
                </button>
                <p>
                    <small>Añadir bloque</small>
                </p>
            </div>

            <!-- end add bloque button -->

            <!-- submit buttons -->
            <div class="cell medium-12">
                <hr>
                <button class="button">
                    <i class="fa fa-save"></i> Guardar</button>
                &nbsp;&nbsp;
                <button type="submit" class="button success">
                    <i class="fa fa-check"></i> FINALIZAR</button>
            </div>
        </div>
        <!-- end grid-x -->
    </form>
    <!-- end form -->
</div>

{% endblock content %} {% block scripts %}
<script type="text/javascript" src="{% static " studio/js/tags.js " %}"></script> {% endblock %}