{% extends "studio/base-main.html" %}
{% load static %}
{% block content %}

<div class="dashboard container">
    <h1 class="title">
        <i class="fas fa-clone"></i> | 3.1 | Posicion de ODAs en seccion de materia
    </h1>
    <hr>
    <p>
        <strong>Instrucciones:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nihil.</p>
    <hr>
    <form method="POST" id="inputs-h">
        <div class="grid-x grid-margin-y">
            <div class="cell medium-4">
                <div class="canvas" style="background-image: url({{ MEDIA_URL }} {{ section_img.file.url }}">
                    <!-- imagen de la seccion actual -->
                    <ul class="frame">
                        <li id="a-1" class="dropzone"></li>
                        <li id="a-2" class="dropzone"></li>
                        <li id="a-3" class="dropzone"></li>
                        <li id="a-4" class="dropzone"></li>
                    </ul>
                    <ul class="frame">
                        <li id="a-5" class="dropzone"></li>
                        <li id="a-6" class="dropzone"></li>
                        <li id="a-7" class="dropzone"></li>
                        <li id="a-8" class="dropzone"></li>
                    </ul>
                    <ul class="frame">
                        <li id="a-9" class="dropzone"></li>
                        <li id="a-10" class="dropzone"></li>
                        <li id="a-11" class="dropzone"></li>
                        <li id="a-12" class="dropzone"></li>
                    </ul>
                    <ul class="frame">
                        <li id="a-13" class="dropzone"></li>
                        <li id="a-14" class="dropzone"></li>
                        <li id="a-15" class="dropzone"></li>
                        <li id="a-16" class="dropzone"></li>
                    </ul>

                </div>
            </div>
            <div class="cell medium-8">
                <ul class="oda-list">
                    {% for oda in odas_list %}
                        <li class="oda-block" id="ob-{{ oda.pk }}">
                            <div class="shadow-block"></div>
                            <div id="block-{{ oda.pk }}" class="block" data-n="a-{{ oda.zone }}">
                                <img src="{{ oda.active_icon.file.url }}" alt="" class=".block-img">
                            </div>
                            <div class="oda-desc">Oda numero 400</div>
                        </li>
                    {% endfor %}
                <script type="text/javascript">
                    let odaList = [];
                </script>

                </ul>



            </div>
            <!-- end oda postitionin -->
            <div class="cell medium-6">
                <!-- <form method="POST" id="position-saver"> -->
                <input type="text" id="oda-position">
                <button id="psBtn" class="button" type="button">Guardar</button>
                <!-- </form> -->
            </div>

        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
    <script src="{% static "studio/js/odasPosition.js" %}"></script>
    <script src="{% static "studio/js/oda.js" %}"></script>
{% endblock %}
