{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container dashboard">
    <h1 class="title">
        <i class="fas fa-play-circle"></i> {% trans "Momentos" %} </h1>
    <hr>
    <div class="grid-x">
        <div class="cell medium-6">
            <!--falta poner el HREF correcto-->
            <a href="" class="button"><i class="fa fa-upload"></i> {% trans "New Moment" %}</a>
        </div>
        <div class="cell medium-12">
            <div class="panel">
                <table id="tabla-momentos" class=" no-wrap">
                    <thead>
                        <tr>
                            <th id="titulo-momento" class="all">{% trans "Title" %}</th>
                            <th id="numero-momento" class="not-mobile">ODA</th>
                            <th id="tags-momento" class="not-mobile tag-length">Tags</th>
                            <th id="fecha-momento" class="not-mobile">{% trans "Date" %}</th>
                            <th id="autor-momento" class="not-mobile">Autor</th>
                            <th id="eva-momento" class="not-mobile">{% trans "in" %} EVA</th>
                        </tr>
                    </thead>
                    <tbody>

                    <script type="text/javascript">
                        let momentoTags = [];
                        let subject = null;
                        let subject_odas = [];
                        let oda_microodas = [];
                        let odaList = [];
                        let typeList = [];
                        {% for tag in tags %}
                        momentoTags.push({ name: "{{ tag.name|safe }}"});
                        {% endfor %}

                        {% for oda in odas %}
                        odaList.push({ name: "{{ oda.name|safe }}"});
                        {% endfor %}

                        {% for type in moment_type_list %}
                        typeList.push({ name: "{{ type.name|safe }}"});
                        {% endfor %}

                    </script>
                    {% for momento in moments_list %}
                        <tr>
                            <td>
                                <div class="titulo_lista">
                                    <a href="#">
                                        <strong>{{ momento.name }}</strong>
                                    </a>
                                </div>



                                {% if momento.microodas.all.0.oda != None and momento.microodas.all.0.oda.subject != None and momento.microodas.all.0.oda.subject.ambit != None and not momento.microodas.all.0.oda.subject.ambit.is_draft%}
                                            {% ifequal request.user.user_type 'SUPERVISOR'%}
                                                <div class="title-edit-menu">
                                                    <span class="editar">
                                                        {# Link a editar este ambito en especifico #}
                                                        <a href="#">{% trans "Edit" %}</a>
                                                    </span> |
                                                    <span class="borrar">
                                                        {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                                        <a href="#">{% trans "Delete" %}</a>
                                                    </span>


                                                    </div>
                                            {% endifequal %}
                                    {% else %}
                                    <div class="title-edit-menu">
                                        <span class="editar">
                                            {# Link a editar este ambito en especifico #}
                                            <a href="#">{% trans "Edit" %}</a>
                                        </span> |
                                        <span class="borrar">
                                            {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                            <a href="#">{% trans "Delete" %}</a>
                                        </span>

                                    </div>
                                {% endif %}

                            </td>
                            <td>
                                {{ momento.microodas.all.0.oda }}

                            </td>

                            <td>
                                <div class="tag-list">
                                    {% for tag in momento.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}

                                </div>
                            </td>
                            <td>
                                <div id="edit-date">
                                    {{ momento.created_at }}
                                </div>
                            </td>
                            <td>
                               {{ momento.created_by.profile.name }} {{ momento.created_by.profile.last_name }}
                            </td>

                            <td class="text-center">
                                {% if momento.microodas.all.0.oda.subject.ambit.is_published %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>




<!-- makes sidebar menu active -->
<script>
    document.querySelector('#momento-nav').classList.add("is-active");
</script>


{% endblock content %}
{% block scripts %}
        <script src="{% static "studio/js/momentos.js" %}"></script>
{% endblock %}