{% extends "studio/base-main.html" %}
{% load static %}
{% block content %}

<div class="container dashboard">
    <h1 class="title">
        <i class="fas fa-play-circle"></i> Momentos </h1>
    <hr>
    <div class="grid-x">
        <div class="cell medium-6">
            <button type="button" data-open="uploadModal" class="button"><i class="fa fa-upload"></i> Nuevo momento</button>
        </div>
        <div class="cell medium-12">
            <div class="panel">
                <table id="tabla-momentos" class=" no-wrap">
                    <thead>
                        <tr>
                            <th id="titulo-momento" class="all">Titulo</th>
                            <th id="numero-momento" class="not-mobile">ODA</th>
                            <th id="tags-momento" class="not-mobile tag-length">Tags</th>
                            <th id="fecha-momento" class="not-mobile">Fecha</th>
                            <th id="autor-momento" class="not-mobile">Autor</th>
                            <th id="eva-momento" class="not-mobile">en EVA</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for momento in moments_list %}
                        <tr>
                            <td>
                                <div class="titulo_lista">
                                    <a href="#">
                                        <strong>{{ momento.name }}</strong>
                                    </a>
                                </div>
                                <div class="title-edit-menu">
                                    <span class="editar">
                                        <a href="#">Editar</a>
                                    </span> |
                                    <span class="borrar">
                                        <a href="#">Borrar</a>
                                    </span>
                                </div>
                            </td>
                            <td>
                                {{ momento.microodas.all.0.oda }}

                            </td>

                            <td>
                                <div class="tag-list">
                                    {% for tag in momento.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}

                                </div>
                            </td>
                            <td>
                                <div id="edit-date">
                                    {{ momento.created_at }}
                                </div>
                            </td>
                            <td>
                                {{ momento.created_by }}
                            </td>

                            <td class="text-center">
                                {% if momento.microodas.all.0.oda.subject.ambit.is_published %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>


<div class="reveal" id="uploadModal" data-reveal>
    <form id="uploadForm" enctype="multipart/form-data" onsubmit="return is_valid_form()">
        {% csrf_token %}
        <div class="momento-modal">
            <h4 class="u-margin-bottom-small">Subir nuevo momento
                <small>Paquete H5P</small>
            </h4>
            <div class="grid-x">
                <div class="cell medium-4">
                    <label for="h5p-upload" class="button">
                        <i class="fa fa-upload"></i> Subir Paquete</label>
                    {{ form.content }}
                </div>
                <div class="cell medium-8">
                    <p class="h5 thefile" id="fileName">
                        <small>Filename</small>
                    </p>
                </div>
                <div class="cell medium-12">
                    <!-- tags -->

                    <label for="tags-momento">Tags</label>
                    {{ form.tags }}

                    <!-- end tags -->
                    <button type="submit" class="button expanded u-margin-top-medium"><i class="fa fa-upload"></i> Subir Paquete</button>
                </div>
            </div>
        </div>

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </form>
</div>
<script type="text/javascript">
                    let momentoTags = [];
                    {% for tag in tags %}
                    momentoTags.push({ name: "{{ tag.name|safe }}", value: "{{ tag.id|safe }}" });
                    {% endfor %}
                </script>
<!-- makes sidebar menu active -->
<script>
    document.querySelector('#momento-nav').classList.add("is-active");
</script>


{% endblock content %}
{% block scripts %}
        <script src="{% static "studio/js/momentos.js" %}"></script>
{% endblock %}