{% extends "studio/base-main.html" %}
{% load static %}
{% load studio_extras %}
{% block content %}
<div class="container dashboard">
    <h1 class="title">
        <i class="fas fa-play-circle"></i> Momento

    </h1>
    <hr>

    <form method="POST"  id="uploadForm" enctype="multipart/form-data">
        {% csrf_token %}
     <script type="text/javascript">
        let momentoTags = [];
        let self_tags_selectize = [];
        let subject = null;
        let file_name = "";
        let subject_odas = [];
        let oda_microodas = [];
        let odaList = [];
        let typeList = [];
        let self_subject = "{{ moment.microoda.oda.subject.name|safe }}";
        let self_oda = "{{ moment.microoda.oda.name|safe }}";
        let self_microoda = "{{ moment.microoda.type.name|safe }}";
        let self_type = "{{ moment.type|safe }}";
        {% for tag in tags %}
        momentoTags.push({ name: "{{ tag.name|safe }}"});
        {% endfor %}

        {% for tag in moment.tags.all %}
            self_tags_selectize.push("{{ tag.name|safe }}");
        {% endfor %}

        {% for oda in odas %}
        odaList.push({ name: "{{ oda.name|safe }}"});
        {% endfor %}

        {% for type in moment_type_list %}
        typeList.push({ name: "{{ type|safe }}"});
        {% endfor %}

     </script>
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell medium-6">
                <label for="name">Nombre del paquete</label>
                {{ form.name }}
                <!-- materia -->
                <label for="materia-list">Materia</label>
                    <select required name="materia-list" id="materia-list">
                     <option disabled selected></option>
                        {% for subject, odas_zip in subject_odas %}
                            <option value="{{ subject.name }}">{{ subject.name }}</option>
                            <script type="text/javascript">
                                subject_odas.push({name:"{{ subject.name|safe }}", odas:[]})
                            </script>
                            {% for oda, microodas in odas_zip %}
                                <script type="text/javascript">
                                    subject= subject_odas.filter(x => x.name==="{{ subject.name|safe }}");
                                    subject[0].odas.push({name:"{{ oda.name|safe }}"});
                                    oda_microodas.push({ name:"{{ oda.name|safe }}", microodas:{{ microodas|safe }}});
                                </script>
                            {% endfor %}

                        {% endfor %}
                    </select>
                <!-- assign oda -->
                <label for="oda-list">ODA</label>
                <select required name="oda-list" id="oda-list">
                </select>
                <option disabled></option>

                <!-- microoda -->
                <label for="micro-oda">Micro ODA</label>
                <select required name="micro-oda" class = "micro-oda" id="micro-oda"></select>
                <option disabled></option>


                <!-- tipo de momento -->
                <label for="tipo-momento">Selecciona el formato de Momento</label>
                <select name="tipo-momento" id="tipo-momento"></select>
                <!-- tags -->

                <label for="momento-tags">Tags</label>
                {{ form.tags }}

                <!-- end tags -->
            </div>
            <div class="cell medium-6" id="div_h5p">
                <div class="panel">
                    <div class="panel__title">
                        Metadatos H5P
                    </div>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell medium-6">
                            <label for="url_h5p">
                                 Ingrese la url frame</label>
                                {{ content.url_h5p }}
                        </div>                     
                        <div class="cell medium-6">
                            <label for="library_h5p">
                                 Ingrese la url library</label>
                                {{ content.library_h5p }}
                        </div>                        
                    </div>
                </div>
            </div>
             <div class="cell medium-6" id="div_content">
                <div class="panel">
                    <div class="panel__title">
                        Contenido
                    </div>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell medium-6">
                            <label for="content" class="button expanded">
                                 <i class="fa fa-upload"></i> Selecciona un archivo</label>
                             {{ content.content }}
                        </div>
                        <div class="cell medium-6">
                            <p class="h5 thefile" id="fileName">
                                <small>Nombre del archivo</small>
                                {% with  content_file|split:"/" as path%}
                                    <script type="text/javascript">
                                    file_name = "{{ path|last }}";
                                    </script>

                                {% endwith %}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <!--div class="cell medium-6" id="div_h5p">
                <div class="panel">
                    <div class="panel__title">
                        Metadatos H5P
                    </div>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell medium-6">
                            <label for="url_h5p">
                                 Ingrese la url frame</label>
                                <input type="text" name="url_h5p" id="url_h5p" maxlength="500"/>
                        </div>                     
                        <div class="cell medium-6">
                            <label for="library_h5p">
                                 Ingrese la url library</label>
                                <input type="text" name="library_h5p" id="library_h5p" maxlength="500"/>
                        </div>                        
                    </div>
                </div>
            </div>
             <div class="cell medium-6" id="div_content">
                <div class="panel">
                    <div class="panel__title">
                        Contenido
                    </div>
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell medium-6">
                            <label for="content" class="button expanded">
                                 <i class="fa fa-upload"></i> Selecciona un archivo</label>
                             <input type="file" name="content" class="show-for-sr" id="content"/>
                        </div>
                        <div class="cell medium-6">
                            <p class="h5 thefile" id="fileName">
                                <small>Nombre del archivo</small>
                                {% with  moment.content.url|split:"/" as path%}
                                    <script type="text/javascript">
                                    file_name = "{{ path|last }}";
                                    </script>

                                {% endwith %}
                            </p>

                        </div>
                    </div>
                </div>
            </div-->


           <div class="cell medium-12">
               <hr>
                <button class="button" id="submit_button" type="button">
                <i class="fa fa-save"></i>Guardar</button>
           </div>
        </div>
        <input type="hidden" name="id_content" id="id_content">

    </form>
</div>


<!-- makes sidebar menu active -->
<script>
    document.querySelector('#momento-nav').classList.add("is-active");
</script>
{% endblock content %}
{% block scripts %}
        <script src="{% static "studio/js/momentos.js" %}"></script>
{% endblock %}