{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="dashboard container">
    <h1 class="title">
        <i class="fas fa-list-alt"></i> {% trans "Create new ODA" %}
    </h1>
    <hr>
    <form id="oda-edit" method="POST" enctype="multipart/form-data" onsubmit="return is_valid_form_odas_section()">
    {% csrf_token %}
        <div class="grid-x grid-margin-x ">
            <div class="cell medium-6">
                <label for="id_name">{% trans "Title" %}</label>
                {{ form.name }}
                <label for="oda-desc">Descripción</label>
                {{ form.description }}

                <!-- tags -->

                <label for="tags-oda">Tags</label>
                {{ form.tags }}
{#                <input name="tags-oda" type="text" id="oda-tags" class="u-margin-bottom-small">#}

                <!-- end tags -->
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell medium-6">
                        <div class="panel">
                            <div class="panel__title">
                                {% trans "Image A" %}
                            </div>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-6">
                                    <div class="active_icon-preview">
                                        <img src="{{ oda.active_icon.file.url }}" alt="ODA A" />
                                    </div>
                                </div>
                                <div class="cell small-6 align-self-middle">
                                    <label for="id_active_icon" class="button small expanded">{% trans "Upload image" %}</label>
                                    {{ form.active_icon }}

                                    <button type="button" class="button expanded small">
                                        <i class="fa fa-th"></i> {% trans "Images" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell medium-6">
                        <div class="panel">
                            <div class="panel__title">
                                {% trans "Image B" %}
                            </div>
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-6">
                                    <div class="completed_icon-preview">
                                        <img src="{{ oda.completed_icon.file.url }}" alt="ODA B" />
                                    </div>
                                </div>
                                <div class="cell small-6 align-self-middle">
                                    <label for="id_completed_icon" class="button small expanded">{% trans "Upload image" %}</label>
                                    {{ form.completed_icon }}

                                    <button type="button" class="button expanded small">
                                        <i class="fa fa-th"></i> {% trans "Images" %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cell medium-6">
                <div class="panel">
                    <div class="panel__title">
                        {% trans "Assign current ODA to subject" %}
                    </div>
                    <label for="materia-a-oda">{% trans "Select subject" %}</label>
                    <p class="oda-info">
                        {% trans "Only appears subjects with section spaces for ODAs" %}
                    </p>
                <script type="text/javascript">
                        let odaTags = [];
                        let self_tags_selectize = [];
                        let subject_bloques = [];
                        let momentosList = [];
                        let self_subject = "{{ oda.subject.name }}";
                        let self_section = "{{ oda.section }}";

                        {% for tag in tags_list %}
                            odaTags.push({name:"{{ tag.name|safe }}", value:"{{ tag.id|safe }}"});
                        {% endfor %}

                        {% for tag in oda.tags.all %}
                            self_tags_selectize.push("{{ tag.name|safe }}");
                        {% endfor %}

                        {% for moment in moments_list %}
                            momentosList.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                        {% endfor %}


                        let apli= [];
                        {% for moment in apli_list.all.0.activities.all %}
                                apli.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                            {% endfor %}
                        let apli_tags = [];
                        {% for tag in apli_list.all.0.tags.all %}
                                apli_tags.push("{{ tag.name|safe }}");
                            {% endfor %}

                        let forma = [];
                        {% for moment in forma_list.all.0.activities.all %}
                                forma.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                            {% endfor %}
                        let forma_tags = [];
                        {% for tag in forma_list.all.0.tags.all %}
                                forma_tags.push("{{ tag.name|safe }}");
                            {% endfor %}

                        let activa = [];
                        {% for moment in activ_list.all.0.activities.all %}
                                activa.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                            {% endfor %}
                        let activa_tags = [];
                        {% for tag in activ_list.all.0.tags.all %}
                                activa_tags.push("{{ tag.name|safe }}");
                            {% endfor %}

                        let ejem= [];
                            {% for moment in ejem_list.all.0.activities.all %}
                                ejem.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                            {% endfor %}
                        let ejem_tags = [];
                        {% for tag in ejem_list.all.0.tags.all %}
                                ejem_tags.push("{{ tag.name|safe }}");
                            {% endfor %}

                        let sens = [];
                        {% for moment in sens_list.all.0.activities.all %}
                                sens.push({name:"{{ moment.name|safe }}", code:"{{ moment.content|safe }}"});
                            {% endfor %}
                        let sens_tags = [];
                        {% for tag in sens_list.all.0.tags.all %}
                                sens_tags.push("{{ tag.name|safe }}");
                            {% endfor %}
                        let evalu = null;
                        {% if oda.evaluation != None %}
                            evalu =  ({name:"{{ oda.evaluation.name|safe }}", pk:"{{ oda.evaluation.pk|safe }}"});
                        {% endif %}


                </script>
                    <select name="materia-a-oda" id="materia-a-oda">
                        <option disabled selected></option>

                        {% for subject, bloques in subjects_sections %}
                            <option value="{{ subject.name }}">{{ subject.name }}</option>
                            <script type="text/javascript">
                                    subject_bloques.push({name: "{{ subject.name }}", bloques:{{ bloques }}});
                            </script>
                        {% endfor %}
                    </select>

                    <label for="bloque-a-oda">{% trans "Select a section" %}</label>
                    <p class="oda-info">
                        {% trans "Only appears subjects with section spaces for ODAs" %}
                    </p>
                    <select name="bloque-a-oda" id="bloque-a-oda">
                        <option disabled selected></option>
                    </select>
                      <button type="submit" name="edit_position" class="button secondary">
                        <i class="fa fa-pencil-alt"></i> &nbsp; {% trans "Edit this ODA position within the selected Section" %}o
                    </button>

                </div>
            </div>
            <div class="cell medium-12">
                <hr>
                <p class="h6">{% trans "Momentos by µODA" %}</p>
            </div>
            <div class="cell medium-4">
                <div class="panel" id="apli">
                    <div class="panel__title">
                        {% trans "Aplication" %}
                        <span class="add-materia" data-open="Modal-1">
                            <i class="fas fa-plus-square"></i>
                        </span>
                    </div>
                    <div class="panel__content">
                        <ul class="oda-sort" id="uoda-1">

                        </ul>
                    </div>
                     <hr>
                    <label for="apli-tags">Tags</label>
                    {{ form.apli_tags }}
                </div>

            </div>
            <div class="cell medium-4">
                <div class="panel" id="forma">
                    <div class="panel__title">
                        {% trans "Formalization" %}
                        <span class="add-materia" data-open="Modal-1">
                            <i class="fas fa-plus-square"></i>
                        </span>
                    </div>
                    <div class="panel__content">
                        <ul class="oda-sort" id="uoda-2"></ul>

                        </ul>
                    </div>
                    <hr>
                    <label for="forma-tags">Tags</label>
                    {{ form.forma_tags }}
                </div>

            </div>
            <div class="cell medium-4">
                <div class="panel" id="activ">
                    <div class="panel__title">
                        {% trans "Activation" %}
                        <span class="add-materia" data-open="Modal-1">
                            <i class="fas fa-plus-square"></i>
                        </span>
                    </div>
                    <div class="panel__content">
                        <ul class="oda-sort" id="uoda-3">

                        </ul>
                    </div>
                     <hr>
                    <label for="activ-tags">Tags</label>
                    {{ form.activ_tags }}
                </div>
            </div>
            <div class="cell medium-4">
                <div class="panel" id="ejemp">
                    <div class="panel__title">
                        {% trans "Exemplification" %}
                        <span class="add-materia" data-open="Modal-1">
                            <i class="fas fa-plus-square"></i>
                        </span>
                    </div>
                    <div class="panel__content">
                        <ul class="oda-sort" id="uoda-4">

                        </ul>
                    </div>
                    <hr>
                    <label for="ejemp-tags">Tags</label>
                    {{ form.ejemp_tags }}
                </div>

            </div>
            <div class="cell medium-4">
                <div class="panel" id="sens">
                    <div class="panel__title">
                        {% trans "Sensitization" %}
                        <span class="add-materia" data-open="Modal-1">
                            <i class="fas fa-plus-square"></i>
                        </span>
                    </div>
                    <div class="panel__content">
                        <ul class="oda-sort" id="uoda-5">

                        </ul>
                    </div>
                    <hr>
                    <label for="sens-tags">Tags</label>
                    {{ form.sens_tags }}
                </div>

            </div>
            <div class="cell medium-4">
                <div class="panel" id="eval">
                    <div class="panel__title">
                        {% trans "Evaluation" %}

                    </div>
                    <div class="panel__content">
                        <div  id="uoda-6">
                            {{ oda.evaluation.name }}
                        </div>
                        <hr>
                        <div class="text-center">
                             <label for="evaluation_file" class="button small expanded">{% trans "Upload new evaluation" %}</label>
                        {{ form.evaluation_file }}
                            <a href="" id="eval-dload" download target="_blank" class="button secondary small expanded">
                                {% trans "Download current Evaluation" %}
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cell medium-12" id="save-on">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="apli-momentos" name="apli-momentos">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="forma-momentos" name="forma-momentos">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="activ-momentos" name="activ-momentos">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="ejem-momentos" name="ejem-momentos">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="sens-momentos" name="sens-momentos">
                <!-- hidden input to pass momentos and order -->
                <input type="hidden" id="eval-momentos" name="eval-momentos">


                <button type="submit" class="button" name="save">
                    <i class="fa fa-save"></i> {% trans "Save" %}</button>


                <button type="submit" class="button success" name="finalize">
                    <i class="fa fa-check"></i> {% trans "Finalize" %}</button>

                <input type="hidden" name="action" id="action" />
            </div>
        </div>
    </form>

</div>


<!-- modal Aplicacion -->

<div class="reveal m-adder" id="Modal-1" data-reveal>
    <h4>{% trans "Momentos selection" %}</h4>
    <br>

    <label for="momentos-select">{% trans "Search in the Momentos library" %}</label>
    <select name="momentos-select" id="select-momentos"></select>


    <br />
    <br>
    <br>
    <input id="momento-adder" class='button expanded' type='submit' disabled value='Añadir' data-close/>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="large reveal" id="Modal-2" data-reveal>

    <div class="h5p-preview">
        <iframe src="www.google.com"></iframe>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



<div class="reveal" id="evalModal" data-reveal="">
    <h4>{% trans "Evaluation selection" %}</h4>
    <br>

    <label for="eval-select">{% trans "Search in the evaluation library" %}</label>
    <select name="eval-select" id="eval-select">
        <option value=""></option>
        {% for evaluation in eval_list %}
            <option value="{{ evaluation.name }}">{{ evaluation.name }}</option>
        {% endfor %}
    </select>


    <br />
    <br>
    <br>
    <input id="eval-adder" class='button expanded' type='submit' disabled value='Añadir' data-close/>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>

<!-- makes sidebar menu active -->
<script>
    document.querySelector('#oda-nav').classList.add("is-active");
</script>


{% endblock content %}

    {% block scripts %}
        <script src="{% static "studio/js/oda-momentos.js" %}"></script>
        <script src="{% static "studio/js/oda-tags.js" %}"></script>
        <script src="{% static "studio/js/oda.js" %}"></script>
    {% endblock %}