{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="dashboard container">
    <h1 class="title">
        <i class="fas fa-list-alt"></i> ODAs</i>
    </h1>
    <hr>
    <div class="grid-x">
        <div class="cell medium-6">
            <a href="{% url 'odas_create_view' %}" class="button">{% trans "New ODA" %}</a>
        </div>

        <div class="cell medium-12">
            <div class="panel">
                <table id="tabla-odas" class=" no-wrap">
                    <thead>
                        <tr>
                            <th id="titulo-oda" class="all">{% trans "Title" %}</th>
                            <th id="materia-oda" class="not-mobile">{% trans "Subject" %}</th>
                            <th id="bloque-oda" class="not-mobile">{% trans "Section" %}</th>
                            <th id="uoda-oda" class="not-mobile">{% trans "Momentos #" %}</th>
                            <th id="tags-oda" class="not-mobile tag-length">Tags</th>
                            <th id="fecha-oda" class="not-mobile">{% trans "Date" %}</th>
                            <th id="autor-oda" class="not-mobile">Autor</th>
                            <th id="estado-oda" class="not-mobile">{% trans "State" %}</th>
                            <th id="eva-oda" class="not-mobile">{% trans "in" %} EVA</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for oda in odas_list %}

                         <tr>
                            <td>
                                <div class="titulo_lista">
                                    <a href="#">
                                        <strong>{{ oda.name }}</strong>
                                    </a>
                                </div>

                                {% if oda.subject != None and oda.subject.ambit != None and not oda.subject.ambit.is_draft%}
                                            {% ifequal request.user.user_type 'SUPERVISOR'%}
                                                <div class="title-edit-menu">
                                                    <span class="editar">
                                                        {# Link a editar este ambito en especifico #}
                                                        <a href="{% url 'odas_update_view' oda.pk %}">{% trans "Edit" %}</a>
                                                    </span> |
                                                    <span class="borrar">
                                                        {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                                        <a href="#">{% trans "Delete" %}</a>
                                                    </span>


                                                    </div>
                                            {% endifequal %}
                                    {% else %}
                                    <div class="title-edit-menu">
                                        <span class="editar">
                                            {# Link a editar este ambito en especifico #}
                                            <a href="{% url 'odas_update_view' oda.pk %}">{% trans "Edit" %}</a>
                                        </span> |
                                        <span class="borrar">
                                            {# Link a borrar este ambito en especifico. An alert should pop up warning about the deletion #}
                                            <a href="#">{% trans "Delete" %}</a>
                                        </span>

                                    </div>
                                {% endif %}

                            </td>
                            <td>
                                {{ oda.subject.name }}
                            </td>
                            <td>
                                {{ oda.section}}
                            </td>
                            <td>
                                31
                            </td>
                            <td>
                                <div class="tag-list">

                                    {% for  tag in oda.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                        {% endfor %}

                                </div>
                            </td>
                            <td>
                                <div id="edit-date">
                                    {{ oda.created_at }}
                                </div>
                            </td>
                            <td>
                                {{ oda.created_by.first_name }} {{ oda.created_by.last_name }}
                            </td>
                            <td>
                                <div class="estado">
                                    {% if oda.temporal %}
                                        {% trans "Draft" %}
                                    {% else %}
                                        {% trans "Finalized" %}
                                    {% endif %}
                                </div>
                            </td>
                            <td class="text-center">
                                {% if oda.subject.ambit.is_published %}
                                <i class="fa fa-check"></i>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}
{#        <script src="{% static "studio/js/odas-edit.js" %}"></script>#}
    {% endblock %}