{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="dashboard container">
    <h1 class="title">
        Vista Previa - {{ oda.subject.name }} - ODA
    </h1>
    <hr>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-4 oda-box">
                <div class="oda-title">
                    {{ oda.name }}
                </div>
                <div class="oda-description">
                    {{ oda.description }}
                </div>
                <div class="oda-tags">
                    <ul>
                        {% for tag in oda.tags.all %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        {% for microoda in oda.microodas.all %}
            <div class="cell small-4 oda-box">
                <div class="micro-image">
                    {% if microoda.type.name == "application" %}

                        <img src="{% static "/studio/img/uodas/Desktop/uODA_desktop_aplicacion.png"%}" alt="Aplicacion">
                    {% elif microoda.type.name == "formalization" %}
                        <img src="{% static "/studio/img/uodas/Desktop/uODA_desktop_formalizacion.png" %}" alt="Formalizacion">
                    {% elif microoda.type.name == "activation" %}
                        <img src="{% static "/studio/img/uodas/Desktop/uODA_desktop_activacion.png" %}" alt="activacion">
                    {% elif microoda.type.name == "exemplification" %}
                        <img src="{% static "/studio/img/uodas/Desktop/uODA_desktop_ejemplificacion.png" %}" alt="ejemplificacion">
                    {% elif microoda.type.name == "sensitization" %}
                        <img src="{% static "/studio/img/uodas/Desktop/uODA_desktop_sensibilizacion.png" %}" alt="sensibilizacion">
                    {% endif %}
                    <ul class="micro-momentos">



                        
                        {% for momento in microoda.activities.all %}

                        {% if momento.type.group == "dynamic_presentation" %}
                             <li>
                                 <img src="{% static "/studio/img/Iconos/presentacion_dinamica.png" %}" alt="">
                             </li>
                        {% elif momento.type.group == "dynamic_scene" %}
                            <li>
                                  <img src="{% static "/studio/img/Iconos/Escenario_dinamico.png" %}" alt="">
                              </li>
                        {% elif momento.type.group == "interactive_game" %}
                             <li>
                                 <img src="{% static "/studio/img/Iconos/juego_interactivo.png" %}" alt="">
                             </li>
                        {% elif momento.type.group == "interactive_text" %}
                             <li>
                                 <img src="{% static "/studio/img/Iconos/texto_interactivo.png" %}" alt="">
                             </li>
                        {% endif %}

                        {% endfor %}

                    </ul>
                </div>

            </div>
        {% endfor %}
            
            <div class="cell small-12 text-center">
                
                <a href="{% url 'approve_dashboard_view' %}" class="button"><i class="fa fa-list"></i> Regresar a la lista</a>
                <br>
                <a href="{% url 'subject_preview_view' oda.subject.pk %}" class="button secondary"><i class="fa fa-undo"></i> Regresar a Anterior</a>
            </div>
            <div class="cell small-6 text-center">
            </div>
           

        </div>
    </div>


</div>


<!-- makes sidebar menu active -->
<script>
    document.querySelector('#supervisor-nav').classList.add("is-active");
</script>



{% endblock content %}
