{% extends "studio/base-main.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="dashboard container">
    <h1 class="title">
        Vista Previa - Propedeutico de Magia - Ámbito
    </h1>
    <hr>
    <div class="grid-x align-center">
        <div class="cell medium-6">
            <div class="card-front {{ ambit.color }}">
                <div class="ambito-image-prev"  style="background-image: url({{ ambit.background_image.file.url }}); background-size: cover">
                    <!--<img src="{{ ambit.background_image.file.url }}" alt="propedeutico X">-->
                </div>
                <div class="ambito-title {{ ambit.color }}_text">
                    {{ ambit.name }}
                </div>
            </div>
            <div class="card-back {{ ambit.color }}">
                <div class="{{ ambit.color }}_text">
                    {{ ambit.name }}
                </div>
                {% for subject in ambit.subjects.all %}
                    <a href="{% url 'subject_preview_view' subject.pk %}" class="materia">
                    {{ subject.name }}
                </a>
                {% endfor %}




            </div>
        </div>
        <div class="cell small-12 text-center u-margin-top-small">

                <a href="{% url 'approve_dashboard_view' %}" class="button"><i class="fa fa-list"></i> Regresar a la lista</a>

            </div>
    </div>

</div>


<!-- makes sidebar menu active -->
<script>
    document.querySelector('#supervisor-nav').classList.add("is-active");
</script>

{% endblock content %}