{% block content %}
<form class="userprofilefotrm" method="POST">
    {% csrf_token %}
    <div>
        <div>Usuario {{ user_form.username }}</div>
        <div>Nombre {{ user_form.first_name }}</div>
        <div>Apellido {{ user_form.last_name }}</div>
        <div >Correo electrónico {{ user_form.email }}</div>
        <div>Contraseña {{ user_form.password1 }}</div>
        <div>Confirmación contraseña {{ user_form.password2 }}</div>
        <form method="GET" action="signup.html">
            <div>
                <input type="hidden" name="action" value="signup">
                Tipo de usuario {{ user_form.user_type }}</div>
        </form>

    </div>

    {{ profile_form}}

    <button name='action' value='signup' type="submit">Sign up</button>
</form>
{%endblock%}